.legend-item-container {
    text-align: center;
    display: grid;
    grid-template-areas:
    'circle caption';
    grid-gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

.caption {
    grid-area: caption;
}

h5 {
    color: white;
    font-family: "VT323", monospace;
}

.circle {
    grid-area: circle;
}